@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: rgb(18, 18, 18);
}

input,
textarea {
  color: black;
  border-radius: 5px;
  padding: 5px;
}
